extends ../layouts/main-layout.pug

block title
    title #{title}

block styles
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if hasProduct > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src=product.image, alt="")
                        div.card__content
                            h2.product__price $#{product.price}
                            p.product__description #{product.description}
                        div.card__actions
                            a(href="/products/"+product.id, class="btn") Details
                            form(action="/cart", method="post")
                                input(type="hidden", value=product.id, name='productId')
                                button(type="submit", class="btn") Delete
                                

        else
            h1 No Products